<section class="bg-gray-100 py-10" style="min-height: 86vh">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div style="max-width:360px" class="mt-10 mb-20 p-4 md:p-7 mx-auto rounded bg-white shadow-lg">
        
        <h2 class="mb-5 text-2xl font-semibold">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full",  placeholder:"Type here" %>
          </div>

          <div class="mb-4">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full",  placeholder:"Type here" %>
          </div>

          <div class="mb-4">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full",  placeholder:"Type here" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class:"px-4 py-2 text-center w-full inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700" %>
          </div>
        <% end %>

    </div>
  </div>  
</section>