<section class="bg-gray-100 py-10" style="min-height: 86vh">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div style="max-width:360px" class="mt-10 mb-20 p-4 md:p-7 mx-auto rounded bg-white shadow-lg">

        <h2 class="mb-5 text-2xl font-semibold">Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full",  placeholder:"Type here" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

    </div>
  </div>  
</section>