<%=form_with model:@product do |form| %>
    <div class="mb-4">
        <%= form.label 'Name', class:"block mb-1" %>
        <%= form.text_field :name, placeholder:"Product name", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"%>
    </div>

    <div class="mb-4">
        <%= form.label 'Description', class:"block mb-1" %>
        <%= form.text_area :description, placeholder:"Product description", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full", rows:"4"%>
    </div>

    <div class="mb-4">
        <%= form.label "Image upload", class:"block mb-1"%>
        <%= form.file_field :image  %>
    </div>

        <div class="mb-4">
            <div class="flex">
                <div class="flex items-center mr-4">
                    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, class:"w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" do |category|%>
                        <%=category.label class:"ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" do%>
                            <%=category.check_box + category.text%>
                        <%end%>
                    <%end%> 
                </div>
            </div>
        </div>

        <div class="mb-4">
            <%= form.label "Price", class:"block mb-1"%>
            <div class="grid grid-cols-3 gap-x-2 md:w-1/2">
                <div class="col-span-2">
                    <%= form.text_field :price, placeholder:"0.00", class:"appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"%>
                </div>
            </div>
        </div> <!-- flex grid -->

    <div class="flex items-center w-max my-4">
        <%=form.check_box :visible, class:"h-4 w-4"%>
        <%= form.label "Publish item now", class:"ml-2 inline-block text-gray-500"%>
    
    </div>

    <%= form.submit "Submit item", class:"cursor-pointer my-2 px-4 py-2 text-center inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>
     

<%end%>