	<!-- SECTION-ICONMENU -->
	<section class="pt-10">
		<div class="container max-w-screen-xl mx-auto px-4">
			<nav class="grid grid-cols-3 sm:grid-cols-5 md:grid-cols-6 lg:grid-cols-8 gap-x-3 gap-y-6">
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/lacteosHuevos.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Lacteos Y Huevos  </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/despensa.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">   Despensa   </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/pan.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Pan  </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/carnePescado.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">   Carne Y Pescado   </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/aceite.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Aceite  </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/salsas.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Salsas  </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/cesta.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Cesta  </p>
				</a>
				<a href="#" class="group">
					<div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
                        <%= image_tag 'icons/arroz.png', class:"mx-auto w-auto", size:"32x32" %>
					</div>
					<p class="text-center text-gray-600 group-hover:text-blue-600">  Arroz  </p>
				</a>

			</nav>

		</div> <!-- container //end -->
	</section>