    <div>
    <!-- COMPONENT: PRODUCT CARD -->
        <%= turbo_stream_from current_cart %>
        <article class="shadow-sm rounded bg-white border border-gray-200">
            <a href="#" class="block relative p-1">
                <!-- COMPONENT: IMG -->
                <%if product.image.persisted?%>
                <%= image_tag product.image, class:"mx-auto w-auto", size:"200x200" %>
                <%end%>
            </a>
            <div class="p-4 border-t border-t-gray-200">
                <p class="font-semibold">$<%= product.price %></p>
                <div class="block text-gray-600 mb-3 hover:text-blue-500">
                    <%= link_to show_detail_product_path(product), class:"block text-gray-600 mb-3 hover:text-blue-500", "data-turbo-frame": "_top" do %>
                    <%=  product.name  %>
                    <% end %>
                </div>
                <div>
                    <%=button_to "Add to cart", shop_carts_adds_path, params: {product:product}, class:"px-4 py-2 inline-block text-white text-center bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>
                </div>
            </div>
        </article>
    <!-- COMPONENT: PRODUCT CARD //END -->
    </div>
