<section class="bg-blue-100 py-4">
</section>
<section class="bg-gray-50 py-10">
	<div class="container max-w-screen-xl mx-auto px-4">
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
			<aside>
				<!-- gallery -->
				<div class="border border-gray-200 shadow-sm p-3 text-center rounded mb-5">
					<%if product.image.present?%>
					<%= image_tag product.image, class:"object-cover inline-block", width:"400"%>
					<%end%>
				</div>
			</aside>
			<main>
				<h2 class="font-semibold text-2xl mb-4">
					<%= product.name %>
				</h2>
				<p class="mb-4 font-semibold text-xl">$<%= product.price %>
					<span class="text-base font-normal">Gramo a $ 41,34</span>
				</p>

				<p class="mb-4 text-gray-500">
					<%= product.description %>
				</p>

				<ul class="mb-5">
					<li class="mb-1"> <b class="font-medium w-36 inline-block">Category:</b> 
						<% @product.categories.each do |category|%>
							<span  class="text-gray-500">
								<%= category.name %> <span>.</span>
							</span>
						<%end%>	
					</li>
					
				</ul>

				<!-- action buttons .//end -->
