<%= render partial:'partials/navbar'%>
<%= render partial:'partials/messages' %>
<%= render partial:'partials/section'%>

<section class="bg-gray-100 py-12">
    <div class="container max-w-screen-xl mx-auto px-4">
		<%= render partial: "itemsCategory"%>
        <h2 class="text-3xl font-bold mb-8">New products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <%= render partial: "product", collection: @products%>
        </div>
		<div class="text-center mt-5">
        	<% if @products.next_page.present?%>
            	 <%= link_to  "view more products", products_path(page:@products.next_page),  class:"px-4 py-2 inline-block text-white text-center bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>
        	<% end %>
    	</div>
    </div>
</section>



<%= render partial:'partials/footer'%>

