<%= render partial:'partials/navbar'%>
<%= render partial:'partials/messages' %>
<%= render partial:'partials/section'%>

<section class="bg-gray-100 py-12">
    <div class="container max-w-screen-xl mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8">New products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <%= render partial: "product", collection: @products%>
        </div>
		<div class="text-center mt-5">
        	<% if @products.next_page.present?%>
            	 <%= link_to  "Ver más productos", products_path(page:@products.next_page),  class:"px-4 py-2 inline-block text-white text-center bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>
        	<% end %>
    	</div>
    </div>
</section>

	<!-- SECTION-FEATURES -->
	<section class="bg-white py-12">
		<div class="container max-w-screen-xl mx-auto px-4">
			<h2 class="text-3xl font-bold mb-8">Why choose us</h2>
			
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-money-bill text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Reasonable prices</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-star text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Best quality</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-plane text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Worldwide shipping</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-users text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Customer satisfaction</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-thumbs-up text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Happy customers</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
				<div>
					<figure class="flex mb-4">
						<div class="flex-shrink-0 mr-3">
							<span class="block w-16 h-16 rounded-full bg-blue-100 text-blue-600 flex items-center justify-center">
								<i class="fa fa-box text-2xl"></i> 
							</span>
						</div>
						<figcaption>
							<h5 class="font-semibold">Thousand items</h5>
							<p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							</p>
						</figcaption>
					</figure>
				</div>
			</div> <!-- grid .// -->
		</div> <!-- container .// -->
	</section>
	<!-- SECTION-FEATURES //END -->

<%= render partial:'partials/footer'%>

