<%= render partial:'partials/navbar'%>
<%= render partial:'partials/messages' %>
<%= render partial:'partials/section'%>

<section class="bg-gray-100 py-12">
    <div class="container max-w-screen-xl mx-auto px-2">
        <section class="pt-5">
            <div class="container max-w-screen-xl mx-auto">
                <section class="pb-10">
                    <div class="container max-w-screen-xl mx-auto">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                            <h2 class="text-3xl font-bold mb-8">Filter Price</h2>
                            <%= form_with url:products_path, method: :get do |form| %>
                                <%= form.number_field :min_price, class:"relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6",
                                placeholder: 'Min Price', 
                                onChange: 'this.form.requestSubmit()', value: params[:min_price]%>

                                <%= form.number_field :max_price, class:"mt-5 relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6", placeholder: 'Max Price',
                                onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
                            <% end %>
                        </div>
                    </div> 
                </section>     
                <h2 class="text-3xl font-bold mb-8">Categories</h2>
                <nav class="grid grid-cols-3 sm:grid-cols-5 md:grid-cols-6 lg:grid-cols-8 gap-x-3 gap-y-6">
                    <%= link_to t('.all'), products_path %>
                    <%= render partial: "category", collection: @categories %>
                </nav>
            </div>
        </section>
        <h2 class="text-3xl font-bold mb-8">New products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <%= render partial: "product", collection: @products%>
        </div>
        <div class="text-center mt-5">
            <% if @products.next_page.present?%>
                <%= link_to  "view more products", products_path(page:@products.next_page),  class:"px-4 py-2 inline-block text-white text-center bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>
            <% end %>
        </div>
    </div>
</section>

<%= render partial:'partials/footer'%>