<%= render partial:'partials/navbar'%>
<%= render partial:'partials/messages' %>
	<!--  PAGE HEADER -->
	<section class="py-5 sm:py-7 bg-blue-100">
		<div class="container max-w-screen-xl mx-auto px-4">
			<!-- breadcrumbs start -->
			<h2 class="text-3xl font-semibold mb-2">Result of the Search</h2>
		</div>
	</section>

    <section class="bg-gray-100 py-12">
        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h2 class="text-3xl font-bold mb-8"><%= @q %> </h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <%= render partial: "product", collection: @products%>        
                </div>
            </div>
        </div>
    </section>

<%= render partial:'partials/footer'%>
