<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'tailwind.min.css'%>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-600">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%if user_signed_in? %>
              <%= render partial:'partials/navbar'%>
            <% else %>
                <%= link_to 'Log in',new_user_password_path, class:"text-blue-500" %>
                <%= link_to 'Create account', new_user_registration_path, class:"text-blue-500" %>
            <% end %>
     <%= yield %>
  </body>
</html>
