<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'tailwind.min.css'%>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-600">
            <%if user_signed_in? %>
                <% if current_user && current_user.has_role?(:admin) %>
                    <div class="bg-white py-3 border-b">
                        <div class="container max-w-screen-xl mx-auto px-4">
                          <%= link_to 'Admin', admin_path, class:"text-blue-600" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
     <%= yield %>
  </body>
</html>
